<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!--<link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">-->
    <!--<link href="./assets/favicon.ico" rel="icon">-->

    <title>Title page</title>

    <!--<link href="../css-main/main.97292821.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.97292821.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">


    <!-- Bootstrap core CSS -->
    <!--<link href="../css-main/all.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/css/main.css"/>-->
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<!-- Add your content of header -->
<!--<header class="slider-main">-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--</div>-->

<!--<div class="navbar-collapse">-->
<!--<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li><a href="./index.html#contact-section-container" title="" class="anchor-link">Contact Us</a>-->
<!--</li>-->
<!--<li>-->
<!--<p>-->
<!--<a href="./components.html" class="btn btn-default navbar-btn">Components</a>-->
<!--</p>-->
<!--</li>-->


<!--</ul>-->

<!--</div>-->
<!--</div>-->
<!--</nav>-->
<!--<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">-->
<!--<ol class="carousel-indicators">-->
<!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--</ol>-->
<!--<div class="carousel-inner" role="listbox">-->
<!--&lt;!&ndash; Slide One - Set the background image for this slide in the line below &ndash;&gt;-->
<!--<div class="carousel-item active" style="background-image: url('static/img8.jpg')">-->
<!--<div class="carousel-caption d-none d-md-block">-->
<!--<h3>Let's GYM!</h3>-->
<!--<p>집에서도 헬스장에 온 것과 같이 운동해요</p>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Slide Two - Set the background image for this slide in the line below &ndash;&gt;-->
<!--<div class="carousel-item" style="background-image: url('static/img7.jpg')">-->
<!--<div class="carousel-caption d-none d-md-block">-->
<!--<h3>Let's GYM!</h3>-->
<!--<p>다른 사람들과 자신만의 팁을 공유해봐요</p>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Slide Three - Set the background image for this slide in the line below &ndash;&gt;-->
<!--<div class="carousel-item" style="background-image: url('static/img6.jpg')">-->
<!--<div class="carousel-caption d-none d-md-block">-->
<!--<h3>Let's GYM!</h3>-->
<!--<p>멋진 몸을 완성해봐요!</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--<span class="sr-only">Previous</span>-->
<!--</a>-->
<!--<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--<span class="sr-only">Next</span>-->
<!--</a>-->
<!--</div>-->
<!--</header>-->
<header>
    <!-- Add your site or app content here -->
    <div class="background-image-container white-text-container"
         style="background-image: url('../static/gym2.jpg');background-position: center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Let's GYM!</h1>
                    <p class="">MAKE YOUR HOME TO BEST PLACE TO WORKOUT</p>
                    <a href="/upload" class="btn btn-primary btn-lg anchor-link"
                       title="">UPLOAD VIDEO</a>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Consectetur adipiscing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="../static/chest.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus
                    ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="../static/gym.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus
                    ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="../static/kettlebell.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Phasellus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus
                    ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>
    </div>
</div>


<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <!--<div class="row">-->
        <!--<div class="col-xs-12 col-md-offset-2 col-md-8">-->
        <!--&lt;!&ndash; Portfolio Section &ndash;&gt;-->
        <!--<div class="portfolio-main">-->
        <!--<div class="row">-->
        <div class="col-lg-4 col-sm-6 portfolio-item" style='margin-left: 80px ;height : 300px; width : 500px'>
            <div>
                <div class="card-img">
                    <a href="/showchest">
                        <img class="card-img-top" src="../static/chest.jpg"
                             style='border-radius:30px; height : 300px; width : 450px' alt=""/>
                        <!--<div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
                    </a>
                </div>
                <div class="card-body" style='text-align: center'>
                    <h4 class="card-title">
                        <a href="/showchest">가슴 운동</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item" style='height : 300px; width : 500px'>
            <div>
                <div class="card-img">
                    <a href="/showback">
                        <img class="card-img-top" src="../static/back.jpg"
                             style='border-radius:30px; height : 300px; width : 450px' alt=""/>
                        <!--<div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
                    </a>
                </div>
                <div class="card-body" style='text-align: center'>
                    <h4 class="card-title">
                        <a href="/showback">등 운동</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item"
             style='margin-top : 50px; margin-left: 80px ;height : 300px; width : 500px'>
            <div>
                <div class="card-img">
                    <a href="/showabs">
                        <img class="card-img-top" src="../static/img4.jpg"
                             style='border-radius:30px; height : 300px; width : 450px' alt=""/>
                        <!--<div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
                    </a>
                </div>
                <div class="card-body" style='text-align: center'>
                    <h4 class="card-title">
                        <a href="/showabs">복근 운동</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item" style='margin-top : 50px; height : 300px; width : 500px'>
            <div>
                <div class="card-img">
                    <a href="/showleg">
                        <img class="card-img-top" src="../static/leg.jpg"
                             style='border-radius:30px; height : 300px; width : 450px' alt=""/>
                        <!--<div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
                    </a>
                </div>
                <div class="card-body" style='text-align: center'>
                    <h4 class="card-title">
                        <a href="/showleg">하체 운동</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item"
             style='margin-top : 50px; margin-left: 80px ;height : 300px; width : 500px'>
            <div>
                <div class="card-img">
                    <a href="/showshoulder">
                        <img class="card-img-top" src="../static/exercise.jpg"
                             style='border-radius:30px; height : 300px; width : 450px' alt=""/>
                        <!--<div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
                    </a>
                </div>
                <div class="card-body" style='text-align: center'>
                    <h4 class="card-title">
                        <a href="/showshoulder">어깨 운동</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item" style='margin-top : 50px; height : 300px; width : 500px'>
            <div>
                <div class="card-img">
                    <a href="/showdumbbell">
                        <img class="card-img-top" src="../static/kettlebell.jpg"
                             style='border-radius:30px; height : 300px; width : 450px' alt=""/>
                        <!--<div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
                    </a>
                </div>
                <div class="card-body" style='text-align: center'>
                    <h4 class="card-title">
                        <a href="/showdumbbell">기구 운동</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<hr>
<!-- Bootstrap core JavaScript -->
<script src="../vendor-main/jquery/jquery.min.js"></script>
<script src="../vendor-main/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<script>
    document.addEventListener("DOMContentLoaded", function (event) {

        googleMapInit();
        scrollToAnchor();
        scrollRevelation('reveal');
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        navbarToggleSidebar();
    });
</script>


<script type="text/javascript" src="../main.faaf51f9.js"></script>