<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">

    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="./assets/favicon.ico" rel="icon">
    <link rel="stylesheet" href="assets/css/main.css"/>

    <title>Title page</title>

    <link href="./main.97292821.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/all.css" rel="stylesheet">
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!-- Main -->
<section id="main">

    <!-- Thumbnails -->
    <section class="thumbnails">
        <div>
            <a href="images/fulls/01.jpg">
                <img src="statics/img1.jpg" alt=""/>
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
            <a href="images/fulls/02.jpg">
                <img src="statics/img1.jpg" alt=""/>
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
        <div>
            <a href="images/fulls/03.jpg">
                <img src="statics/img1.jpg" alt=""/>
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
            <a href="images/fulls/04.jpg">
                <img src="statics/img1.jpg" alt=""/>
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
            <a href="images/fulls/05.jpg">
                <img src="statics/img1.jpg" alt=""/>
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
        <div>
            <a href="images/fulls/06.jpg">
                <img src="statics/img1.jpg" alt=""/>
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
            <a href="images/fulls/07.jpg">
                <img src="statics/img1.jpg" alt=""/>
                <h3>Lorem ipsum dolor sit amet</h3>
            </a>
        </div>
    </section>

</section>

<!-- Footer -->
<footer id="footer">
    <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a
            href="http://unsplash.com">Unsplash</a>.</p>
</footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/main.js"></script>

</body>